<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <form method="POST" class="form-inline">
            {% csrf_token %}
            <div class="col-xl-12 col-md-12 mb-4 mt-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                <div class="alert">¿Inactivar {{ obj.descripcion }}?</div>
                            </div>
                            <button class="btn btn-danger mb-2" id="btnInactivar"><i class="far fa-question-circle"></i> Si, Eliminar</button>
                            
                            <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                    Cancelar
                                </button>

                        </div>
                        <div class="col-auto">
                            <i class="far fa-question-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
$(document).ready(function () {

    var token = $('input[name=csrfmiddlewaretoken]').val();

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader("X-CSRFToken", token);
            }
        }
    });

    $('#btnInactivar').click(function (e) {
        e.preventDefault();
        // alert('Works!')
        var id = {{obj.id}};
        var template="{% url 'cmp:proveedor_inactivar' obj.id %}";
        {% comment %} template += id;  {% endcomment %}
        var data = {'id': id}

        data = JSON.stringify(data);

        $.ajax({
            type: 'POST',
            url: template,
            data: data,
            beforeSend: function (xhr, settings) {
                $.ajaxSettings.beforeSend(xhr, settings);
            },
            success: function (response) {
                console.log(response);
                cerrar_modal();
                {% comment %} alert(response); {% endcomment %}
                var tipo= (response.startsWith('Proveedor no existe') ? 'red':'green');
                mensaje(response, tipo);
            },
            error: function (jqXHR, textStatus, errorThow) {
                console.log(textStatus, errorThow);
                var tipo= (response.startsWith('Proveedor no existe') ? 'red':'green');
                mensaje(errorThow, tipo);
                cerrar_modal();                
            },
        });
    });
});
</script>